*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Aleo', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#map{
	width: 100%;
    height: 100%;
    position: relative;
}

#carta-info {
    background: #eee;
    width: 20%;
    height: 90%;
    position: absolute;
    border-radius: 15px;
    top: 5%;
    left: 2.1%;
    box-shadow: -2px -2px 10px #0005, 5px 5px 10px #0005;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    z-index: 5;
    opacity: 0;
    text-align: justify;
}

#carta-info img {
    width: 125px;
    height: 125px;
    margin: 50px 0;
    box-shadow: -2px -2px 10px #0005, 5px 5px 10px #0005;
}
#btn-regresar {
    display: flex;
    padding: 5px 10px;
    background-color: rgb(114, 24, 42);
    color: #fff;
    border-radius: 7px;
    box-shadow: -2px -2px 10px #0005, 5px 5px 10px #0005;
    position: absolute;
    top: 0;
    right: -30%;
    cursor: pointer;
    
}
#btn-regresar:hover {
    background: rgb(104, 14, 32);
}

.marker{
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    animation: aparecer 1s linear 1;
}
.marker::before{
    content: '';
    position: relative;
    display: block;
    opacity: 0;
    transition: 1s;
    width: 0;
    height: 0;
    z-index: 10;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: #fcfcfc;
}

.marker:hover::before{
    opacity: 1;
    width: 200px;
    height: 100px;
    top: -100px;
    left: -75px;
}

/* pantalla de botones */

header{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    background: rgb(114, 24, 42);
}
h1{
    font-size: 40px;
    color: #fff;
    letter-spacing: 3px;
    width: 100%;
    text-align: right;
    padding: 0 20% 0 0;
}
.logo{
    height: 100%;
    margin: 0 5% 0;
}
#cortina{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff8;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
}
#iconos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 70px);
    grid-gap: 10px;
    height: 34vw;
    align-items: center;
}
.filtro{
    width: 70px;
    cursor: pointer;
    position: relative;
    
}

.filtro:hover {
    outline: 1px solid #000000;
}


@keyframes slide {
    0% {top: 0%;}
    20% {top: 20%;}
    35% {top: 20%;}
    100% {top: -110%;}
}
@keyframes slide2 {
    100% {top: 0%;}
    35% {top: 20%;}
    20% {top: 20%;}
    0% {top: -110%;}
}

@keyframes aparecer{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes desAparecer{
    from {opacity: 1;}
    to {opacity: 0;}
}